@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.hero-container {
  background: linear-gradient(
      90deg,
      rgba(179, 168, 255, 0.2) 0%,
      rgba(57, 147, 247, 0.2) 50%,
      rgba(0, 212, 255, 0.2) 100%
    ),
    url(../../../images/visite/lindos-1.jpg) center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 100% rgba(0, 0, 0, 0.2);
  object-fit: contain;
  margin-top: -80px;
}

.hero-title {
  font-family: "Permanent Marker", cursive;
  font-size: 90px;
  color: rgb(17, 0, 255);
}

.title-guide {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  text-decoration: underline rgb(68, 68, 68);
}

.sub-title-guide {
  padding-bottom: 25px;
}

.info-container {
  padding-left: calc((100% - 1000px) / 2);
  padding-right: calc((100% - 1000px) / 2);
  margin-top: 50px;
}

.info-text {
  color: white;
  font-family: "Caveat Brush", cursive;
  font-size: 25px;
}

.info-black-background {
  border-radius: 25px 25px 25px 25px;
  box-shadow: 15px 15px 19px 0px rgba(0, 143, 199, 0.26);
  background-color: rgba(0, 143, 199, 0.788);
}

.title-container {
  background: rgba(210, 210, 210, 0);
  background: linear-gradient(
    180deg,
    rgba(210, 210, 210, 0) 0%,
    rgba(0, 0, 0, 0.27) 80%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(210, 210, 210, 0) 0%,
    rgba(0, 0, 0, 0.27) 80%
  );
  background: -moz-linear-gradient(
    270deg,
    rgba(210, 210, 210, 0) 0%,
    rgba(0, 0, 0, 0.27) 80%
  );
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.image {
  margin-bottom: 15px;
  box-shadow: 10px 10px 19px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 19px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 19px 3px rgba(0, 0, 0, 0.75);
}

.text-container {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.section-visite {
  margin-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.image-ruin {
  margin-top: 46px;
}

.section-visite-title {
  font-size: 21px;
}

@media screen and (max-width: 900px) {
  .hero-title {
    font-size: 70px;
  }
}
@media screen and (max-width: 575px) {
  .hero-title {
    font-size: 60px;
  }
  .info-text {
    font-size: 15px;
  }
  .info-container {
    padding-left: calc((100% - 300px) / 2);
    padding-right: calc((100% - 310px) / 2);
  }
}
@media screen and (max-width: 415px) {
  .hero-title {
    font-size: 40px;
  }
  .info-text {
    font-size: 15px;
  }
  .info-container {
    padding-left: calc((100% - 360px) / 2);
    padding-right: calc((100% - 360px) / 2);
  }
}
@media screen and (max-width: 376px) {
  .info-container {
    padding-left: calc((100% - 300px) / 2);
    padding-right: calc((100% - 310px) / 2);
  }
}
@media screen and (max-width: 769px) {
  .info-container {
    padding-left: calc((100% - 676px) / 2);
    padding-right: calc((100% - 676px) / 2);
  }
}